input
{
    margin-bottom: 10px;
}

select
{
    margin-bottom: 10px;
}

th, td
{
    font-size: 14px;
}
/*
#btnRegistrar .btn.btn-info{
    width: 100%;
    font-size: 18px;
}

#btnRegistrar .btn.btn-success{
    width: 100%;
    font-size: 18px;
}

#btnRegistrar .btn.btn-warning{
    width: 100%;
    font-size: 18px;
}*/